@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.align {

}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* margin: 0 auto; */
    /* width: 1920px; */
    font-family: 'Roboto', sans-serif;
    background-color: #fbfbfb;
}

.h-hidden {
    width: 0px;
    height: 0px;
    color: transparent;
}

/* dark theme */

.dark {
    background-color: #333333;
}

/* light font */
.light-title {
    color: #fefefe;
}

.light-text {
    color: #F2F2F2;
}



.header-wrapper { 
    margin: 0 auto;
    /* width: 1920px; */
    height: 94px;
    background-color: #ffffff;
    /* background-size: 100%; */
}

.header-wrapper-active {
    background-color: #333333;
}

.header-content-wrapper {
    margin: 0 auto;
    width: 1920px;
    background-color: #ffffff;
    display: flex;
    height: 94px;
    padding-right: 150px;
    padding-left: 150px; 
    justify-content: space-between;
    font-family: inherit;
}

.dark .header-content-wrapper {
    background-color: #333333;
}

/* logo */

.logo-wrapper {
    text-align: center;
    padding: 16px 0px 25px 0px;
    width: 60px;
    height: 42px;
    transition:  0.2s ease-in-out;
}

.logo-wrapper:hover {
    text-decoration: none;
    transform: scale(1.05);
}

.logo-active {
    color: #ffffff;
}

.logo-zoo {
    font-weight: 900;
    line-height: 42px;
    font-size: 36px;
    letter-spacing: 1px;
}

.logo-online {
    font-weight: 900;
    line-height: 9px;
    font-size: 18px;
    letter-spacing: 2px; 
}

/* logo */


/* navbar */
nav {
    display: flex;
    align-items: center;

}

.navbar-wrapper {
    display: flex;
    gap: 83px;

    
}

ul {
    list-style: none;
}

a {
    font-family: inherit;
    text-decoration: none;
    color: #333333;
    font-size: 16px;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}

.about {
    text-decoration: underline;
    pointer-events: none;

}

.about:hover {
    text-decoration: none;
}


/* navbar */

/* viev btn */

.view-wrapper {
    align-self: center;
}

.view-btn {
    position: relative;
    width: 54px;
    height: 30px;
    background-color: #F2F2F2;
    border-radius: 190px;
}

.view-btn-active {
    background-color: #4f4f4f;
}

.view-btn:hover {
    cursor: pointer;
}

.view-ball {
   position: absolute;
   width: 20px;
   height: 20px; 
   background-color: #ffffff;
   border-radius: 50%;
   left: 6px;
   top: 5px;
   transition: all 0.3s ease-in;
}

.toggle-active {
    position: absolute;
    width: 20px;
    height: 20px; 
    background-color: #1b1b1b;
    border-radius: 50%;
    left: 28px;
    top: 5px;  
}


.berger {
    width: 0px;
    height: 0px;
    
}
/* view btn */

/* online */



.online-block {
    margin: 0 auto; 
    /* background-size: 100% 100%; */
    /* background-size: 100%; */
    background-image: url("./assets/Rectangle\ 32.png");
    background-repeat: no-repeat;
    background-size: cover;

}

@media (max-width: 1919px) {
    .online-block {
        width: fit-content;


    }
}

.online-wrapper {
    margin: 0 auto;
    width: 1920px;
    position: relative;
    padding-left: 150px;
    /* padding-right: 150px; */
    height: 940px;

    overflow: hidden;

}

.online-content-wrapper {
    width: 1920px;
    padding-top: 206px;
    padding-left: 210px;
    display: flex;
    flex-direction: column;
    
}

.online-text {
    width: 793px;
    padding-bottom: 37px;
    font-size: 89px;
    font-weight: 900;
    line-height: 104px;
    color: #fefefe;
}

.online-btn-wrapper {
    width: 245px;
    height: 56px;
}

.online-btn-wrapper a {
    text-decoration: none;
}

.online-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 245px;
    height: 56px;
    border: none;
    background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
    border-radius: 3px;
    /* text-align: center; */
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
    color: #ffffff;
    outline: none;
    transition: 0.2s ease-in; 
}

.online-btn:hover {
    transform: scale(1.05);
    cursor: pointer;
    /* box-shadow: 1px 1px 1px 1px #040e0b; */
}

.online-btn img {
    padding-right: 5px;
}


/* scroller!!!!! */

.online-scroller-wrapper {
    position: absolute;
    bottom: 115px;
    right: -44px;
    width: 1124px;
    height: 421px;
}

/* .online-scroller-container {
    justify-content: center;
    align-items: center;
} */

.online-line {
    /* display: flex; */
    position: absolute;
    padding-top: 184px;
    z-index: 0;
}

.online-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 1px solid white;
    
}

.first-circle {
    position: relative;
    left: 175px;
    top: -17px;

}

.second-circle {
    position: relative;
    left: 675px;
    top: -30px;
}

.third-circle {
    position: relative;
    left: 875px;
    top: -43px;
}

.forth-circle {
    position: relative;
    left: 1065px;
    top: -56px;
}

.inner-circle {
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 50%;  
}

.online-scroller-container {

}

.online_scroller-cover {
    /* position: absolute;
    left: 290px; */
   /* margin-left: 290px; */
    width: 1124px;
    overflow: hidden;
}

.online-scroller {
    /* visibility: hidden; */
    width: 1540px;
    position: relative;
    left: 0px;
    padding-left: 135px;
    display: flex;
    /* grid-template-columns: 140px 245px 140px 140px 140px; */
    gap: 46px;
    align-items: center;
    transition: all ease 0.5s;
}

.hidden-card {
    visibility: hidden;

}

.scroller-animal {
    position: relative;
    top: 14px;
    width: auto;
    height: auto;
    z-index: 1;
    transition: 0s;

}

.scroller-animal img {
    width: 140px;
    border-radius: 3px;
   
    
}

.scroller-animal:hover {
    cursor: pointer;
    /* transform: scale(1.1); */
}


.scroller-animal-panda {
    position: relative;
    transition: all 0.2s ease-out;

    width: 245px;
    z-index: 1;
}



.scroller-animal-panda img {
    width: 245px;
    height: 352px;
    border-radius: 5px;
    filter: brightness(60%);
}

.scroller-animal-panda:hover {
    cursor: pointer;
    /* transform: scale(1.1); */
}


.scroller-animal-panda-info {
    position: absolute;
    width: 245px;
    height: 352px;
    bottom: 0px;
}

.online-left{
    /* display: none; */
    left: 20px;
    position: absolute;
    width: 300px;
    height: 400px;
    /* border: 1px solid black; */
    cursor: pointer;
    z-index: 10;
}

.online-right{
    left: 560px;
    top: 0px;
    position: absolute;
    width: 500px;
    height: 400px;
    /* border: 1px solid black; */
    cursor: pointer;
    z-index: 10;
}


.hidden-fox {
    visibility: hidden;
}



.online-animal-info {
    width: 100%;
    height: 399px;
    padding-top: 10px;
    padding-left: 22px;
    /* background-color: #00000080; */
    position: absolute;
    display: grid;
    /* align-items: flex-end; */
    bottom: 0px;
    transition: .5s ease-in-out bottom;
    border-radius: 5px;

    /* cursor:initial; */
}

.online-animal-btn-wrapper {
    display: flex;
    gap: 10px;
    padding-bottom: 20px;
    
}

.online-animal-btn-wrapper a {
    text-decoration: none;
}
.scroller-panda-item {
    filter: brightness(70%);
    transition: all .3s ease;
}


.scroller-panda:hover {
    filter: brightness(70%);
}



.online-button {
    width: 113px;
    height: 25px;
    background: url("./assets/zoo-scroller/Frame\ 23.svg");
    background-color: transparent;
    border: none;
    outline: none;
    transition: .0s ease;
}
.online-button:hover {
    transform: scale(1.04);
    cursor: pointer;
}

.donate-button {
    width: 74px;
    height: 25px;
    background: url("./assets/zoo-scroller/Frame\ 24.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    outline: none;
}

.donate-button:hover {
    transform: scale(1.04);
    cursor: pointer;
}







/* inpur range!!!! */

.scroller-range {
    position: absolute;
    right: 560px;
    bottom: -25px;
}

.input-range {
    appearance: none;
    width: 245px;
    height: 5px;
    outline: none;
    background-color: #d8d8d88c;
    margin-bottom: 30px;
    cursor: pointer;
}
  
  .input-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fefefe;
    width: 30px;
    height: 10px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

  .input-range::-webkit-slider-thumb:hover {
    transform: scale(1.3);
}

.actual-animal {
    text-align: center;
    font-weight: 900;
    font-size: 24px;
    color: #FEFEFE;
}

.transparent-num {
    font-weight: 900;
    font-size: 14px;
    color: #BDBDBD;
}

/* icons */

.online-icons {
    position: absolute;
    bottom: 95px;
    display: grid;
    gap: 15px;
}



/* works!!!! */

.works-wrapper {
    margin: 0 auto;
    display: grid;
    background-color: #fbfbfb;
    /* justify-content: center; */
}

.dark .works-wrapper {
    background-color: #333333;
}

.works-online-wrapper {
    width: 1920px;
    box-sizing: border-box;
    margin: 0 auto;
    display: grid;
    gap: 30px;
    justify-content: center; 
    padding-bottom: 100px;  
}

/* .dark .works-online-wrapper {
    background-color: #333333;

} */


.works-title {
    width: 790px;
    padding-top: 100px;
    font-weight: 900;
    font-size: 48px;
    color: #333333;
}

.works-text {
    width: 790px;
    font-weight: normal;
    font-size: 14px;
    color: #4F4F4F;
}

.works-scroller {
    display: grid;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.works_scroller-container {
    width: 790px;
    overflow: hidden;
}

.works-scroller-img {
    position: relative;
    width: 3200px;
    display: flex;
    transition: all ease 1s;
    gap: 10px;
    left: 0px;
}

.works_scroller-wrapper {
    
}


.works-btn {
    display: grid;
    justify-content: center;
}



/* .works-input!!! */

.works-input-range {
    text-align: center;
    height: 50px;
}

.works-input {
    appearance: none;
    width: 245px;
    height: 5px;
    outline: none;
    background-color: #D8D8D8;
    margin-bottom: 30px;
    cursor: pointer;
}
  
.works-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #333333;
    width: 62px;
    height: 10px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.dark .works-input::-webkit-slider-thumb {
    background-color: #fefefe;
}

.works-input::-webkit-slider-thumb:hover {
    transform: scale(1.3);
}

.works-animal {
    text-align: center;
    font-weight: 900;
    font-size: 24px;
    color: #333333;
}

.dark .works-animal {
    color: #fefefe;
}

.works-range {
    color: #FEFEFE;
}

.works-num {
    font-weight: 900;
    font-size: 14px;
    color: #BDBDBD;
}


/* works-info (ourmissioin etc.) */
.works-full-screen-wrapper {
    margin: 0 auto;
    background: #F2F2F2;
}

.dark .works-full-screen-wrapper {
    background: #4f4f4f;

}

.works-info-wrapper {
    margin: 0 auto;
    width: 1920px;
    height: 413px;
    display: grid;
    gap: 30px;
    justify-content: center;
    grid-template-columns: 380px 380px 380px;
    background: #F2F2F2;
    align-items: center;
}

.light-dark-background {
    background-color: #4f4f4f;
}

.works-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 380px;
    height: 213px;

    /* justify-content: center; */
    /* align-items: center; */
}

.works-logo {
    display: grid;
    justify-content: center;
}

.works-info-title {
    font-weight: 900;
    font-size: 20px;
    color: #333333;
    text-align: center;
}

.works-info-text {
    font-weight: normal;
    font-size: 14px;
    color: #4f4f4f;
}

/* zooo scroller */

.zoo-wrapper {
    margin: 0 auto;
    display: grid;
    /* width: 1920px; */
    height: 854px;
    /* width: fit-content; */
    align-items: center;
    background-color: #fbfbfb;

}

.zoo-container {
    margin: 0 auto;
    width: 1920px;
    display: grid;
    gap: 30px;

}

.dark .zoo-wrapper {
    background-color: #333333;
}

.zoo-title {
    font-weight: 900;
    font-size: 48px;
    text-align: center;
    color: #333333;
}

.zoo-scroller-wrapper {
    display: grid;
    grid-template-columns: 30px 1200px 30px;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.zoo-scroller-cover {
    width: 1220px;
    display: flex;
    overflow: hidden;
}

.zoo-scroller {
    padding-left: 40px;
    position: relative;
    width: 9800px;
    display: grid;
    justify-content: center;
    grid-template-columns: 278px 278px 278px 278px 278px 278px 278px 278px 278px 278px 278px 278px 278px 278px 278px 278px 278px 278px 278px 278px 278px 278px 278px 278px 278px 278px 278px 278px 278px 278px 278px 278px;
    gap: 30px;
    left: 0px;
    transition: all ease 1s;
}

.zoo-img {
    height: 399px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    transition: .3s ease-in-out;
}

.zoo-img:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 5px 5px 5px 5px #00000050;



}

/* .zoo-img:hover img {
    filter: brightness(60%);

} */


 /* hover dark */
.scroller-panda {
    position: absolute;
    width: 278px;
    height: 399px;
    bottom: 0;
    transition: all .3s ease;
    z-index: 2;
}



.zoo-img:hover .scroller-panda {
    background-color: #00000060;
    z-index: 0;
}

.zoo-img img {
    border-radius: 5px;
}

.zoo-info {
    width: 100%;
    height: 399px;
    padding-top: 10px;
    padding-left: 22px;
    /* background: transparent; */
    position: absolute;
    display: grid;
    /* align-items: flex-end; */
    bottom: -410px;
    transition: .5s ease-in-out bottom;
    border-radius: 5px;
    cursor:initial;
    z-index: 1;
}

.zoo-img:hover .zoo-info {
    bottom: 0px;
}


.zoo-text {
    margin-top: 265px;
    padding-bottom: 14px;
    width: 185px;
    font-weight: normal;
    font-size: 14px;
    color: #ffffff;
}

.zoo-btn-wrapper {
    display: grid;
    grid-template-columns: 113px 74px;
    gap: 10px;
    padding-bottom: 44px;


    /* width: 245px;
    height: 56px; */
}

.zoo-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* width: 245px;
    height: 56px; */
    border: none;
    background: transparent;
    border-radius: 3px;
    /* text-align: center; */
    /* text-transform: uppercase; */
    font-size: 12px;
    font-weight: normal;
    color: #ffffff;
    outline: none;
    transition: 0.2s ease-in; 
}



.zoo-btn:hover {
    cursor: pointer;
}

.zoo-btn:active {
    transform: scale(1.1);
}

.zoo-scroller-left {
    width: 30px;
    height: 30px;
    background-image: url("./assets/zoo-scroller/Group.svg");
    background-repeat: no-repeat;
    transition: .3s ease-in-out;
}

.dark .zoo-scroller-left {
    background-image: url("./assets/zoo-scroller/left-light-arrow.svg");
}

.zoo-scroller-left:hover {
    cursor: pointer;
    transform: scale(1.2);

}

.zoo-scroller-right {
    width: 30px;
    height: 30px;
    background-image: url("./assets/zoo-scroller/right-arrow.svg");
    background-repeat: no-repeat;
    transition: .3s ease-in-out;
}

.dark .zoo-scroller-right {
    background-image: url("./assets/zoo-scroller/right-light-arrow.svg");
}

.zoo-scroller-right:hover {
    cursor: pointer;
    transform: scale(1.2);

}

.zoo-scroller-range {
    display: grid;
    justify-content: center;
}

.zoo-scroller-range a {
    text-decoration: none;
}

.zoo-range {
    appearance: none;
    width: 245px;
    height: 5px;
    outline: none;
    background-color: #D8D8D8;
    margin-bottom: 30px;
    cursor: pointer;
}
  
.zoo-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #333333;
    width: 30px;
    height: 10px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.dark .zoo-range::-webkit-slider-thumb {
    background-color: #fefefe;
}

.zoo-range::-webkit-slider-thumb:hover {
    transform: scale(1.3);
}

.zoo-animal {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 900;
    font-size: 24px;
    color: #333333;
}

.dark .zoo-animal {
    color: #fefefe;
}

.zoo-num {
    font-weight: 900;
    font-size: 14px;
    color: #BDBDBD;
}

.zoo-scroller-range button {
    width: 245px;
    height: 55px;
    font-weight: 900;
    font-size: 16px;
    text-align: center;
}


/* pay!!! */

.pay-wrapper {
    /* width: 1920px; */
    margin: 0 auto;
    height: 755px;
    background-color: #f2f2f2;
    display: grid;
    align-items: center;
}

.dark .pay-wrapper {
    background-color: #4f4f4f;
    
}

.pay-container {
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0 auto;
    width: 1920px;
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #f2f2f2;   
}

.dark .pay-container {
    background-color: #4f4f4f;
}

.pay-title {
    padding-bottom: 30px;
    font-weight: 900;
    font-size: 48px;
    color: #333333;
}

.pay-text {
    font-weight: normal;
    font-size: 14px;
    color: #4F4F4F;
    
}

.pay-icons {
    padding-top: 90px;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: 245px 107px 245px 107px 245px;
    gap: 63px;

}

.pay-icon {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 245px;
    height: 245px;
    background-image: url("./assets/pay-icons/round.svg");
    align-items: center;
    justify-content: center;
}

.pay-icon-text {
    display: grid;
    width: 136px;
    font-weight: 900;
    font-size: 20px;
    color: #4F4F4F;
}

.pay-arrow {
    display: grid;
    justify-content: center;
    align-items: center;
}

.pay-btn {
    display: grid;
    justify-content: center;

}

/* test!!!! */

.test-wrapper {
    margin: 0 auto;
    display: grid;
    /* width: 1920px; */
    height: 810px;
    align-items: center;
    background-color: #fbfbfb;
}

.dark .test-wrapper {
    background-color: #333333;
}

.test-container {
    width: 1920px;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    /* text-align: center; */
    gap: 30px;
    background-color: #fbfbfb;
}

.dark .test-container {
    background-color: #333333;
}

.test-title {
    text-align: center;
    font-weight: 900;
    font-size: 48px;
    color: #333333;
    padding-bottom: 36px;
}

.test-scroller-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    padding-bottom: 20px;
}

.test-scroller-container {
    width: 1200px;
    overflow: hidden;
}

.test-scroller {
    position: relative;
    width: 10000px;
    display: flex;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    gap: 30px;
    left: -1230px;
    transition: all ease 1s;
}

.test-item {
    width: 585px;
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 17px;
    background-color: #fefefe;
    box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.1);
    border-radius: 5px;
}

.dark .test-item {
    background-color: #3c3c3c;
}

.test-logo {
    display: flex;
    /* width: 70px;
    height: 70px; */
    /* background-image: url("./assets/test-icons/Ellipse\ 46.svg"); */
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    
}

.test-logo img {
    /* width: 48px;
    height: 48px; */
}

.test-name {
    font-weight: 900;
    font-size: 20px;
    color: #333333;
}

.test-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 440px;
    font-weight: normal;
    font-size: 14px;
}


.test-left {
    width: 30px;
    height: 30px;
    background-image: url("./assets/zoo-scroller/Group.svg");
    background-repeat: no-repeat;
    transition: .3s ease-in-out;
}

.dark .test-left {
    background-image: url("./assets/zoo-scroller/left-light-arrow.svg");
}

.test-left:hover {
    cursor: pointer;
    transform: scale(1.2);

}

.test-right {
    width: 30px;
    height: 30px;
    background-image: url("./assets/zoo-scroller/right-arrow.svg");
    background-repeat: no-repeat;
    transition: .3s ease-in-out;
}

.dark .test-right {
    background-image: url("./assets/zoo-scroller/right-light-arrow.svg");
}

.test-right:hover {
    cursor: pointer;
    transform: scale(1.2);

}

.test-range-wrapper {
    display: grid;
    justify-content: center;
    text-align: center;
}

.test-range {
    appearance: none;
    width: 245px;
    height: 5px;
    outline: none;
    background-color: #D8D8D8;
    margin-bottom: 30px;
    cursor: pointer;
}
  
.test-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #333333;
    width: 30px;
    height: 10px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.dark .test-range::-webkit-slider-thumb {
    background-color: #fefefe;
}

.test-range::-webkit-slider-thumb:hover {
    transform: scale(1.3);
}

.test-animal {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 900;
    font-size: 24px;
    color: #333333;
}

.dark .test-animal {
    color: #fefefe;
}

.test-num {
    font-weight: 900;
    font-size: 14px;
    color: #BDBDBD;
}


/* map */

.map-wrapper {
    /* width: 1920px; */
    margin: 0 auto;
    height: 904px;
    background-color: #f2f2f2;
    background-position: inherit;
}

.dark .map-wrapper {
    background-color: #4f4f4f;
    
}

.map-container {
    margin: 0 auto;
    width: 1920px;
    height: 904px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;

}

.dark .map-container {
    background-color: #4f4f4f;   
}

.map-title {
    /* margin-bottom: 60px; */
    margin-top: 100px;
    font-weight: 900;
    font-size: 48px;
    text-align: center;
    color: #333333;
}

.map-img-container {
    margin-top: 60px;
    width: 1200px;
    height: 500px;
    /* border: 1px solid black; */
    background-image: url("./assets/map/map-light.svg");
    background-repeat: no-repeat;
} 

.dark .map-img-container {
    background-image: url("./assets/map/map-dark.svg");
    background-repeat: no-repeat;
}

.map-btn {
    margin-top: 35px;
    display: grid;
    justify-content: center;
}

.map-btn a {
    text-decoration: none;
}

/* eagle location !!!!!!!!!*/


.map-location-eagle {
    position: relative;
    width: 60px;
    height: 85px;
}

.map-eagle {
    position: relative;
    width: 67px;
    height: 94px;
    background-image: url("./assets/map/Vector.svg");
    background-repeat: no-repeat;
    top: 80px;
    left: 120px;

}

.map-eagle-icon {
    width: 37px;
    height: 37px;
    position: absolute;
    left: 14px;
    top: 15px;
}
.map-eagle:hover {
    background-image: url("./assets/map/Vector-hover.svg");
    cursor: pointer;
    z-index: 2;
}

.map-eagle:hover .map-animal-info {
    visibility: initial;

}

/* eagle location////// */

/* croc location!!!! */

.map-croc {
    position: relative;
    width: 67px;
    height: 94px;
    background-image: url("./assets/map/Vector.svg");
    background-repeat: no-repeat;
    top: 5px;
    left: 247px;

}

.map-location-croc {
    position: relative;
    width: 60px;
    height: 85px;
}


.map-croc:hover {
    background-image: url("./assets/map/Vector-hover.svg");
    cursor: pointer;
}

.map-croc:hover .map-animal-info {
    visibility: initial;
}

/* croc////// */

/* monk !!!! */

.map-monk {
    position: relative;
    width: 67px;
    height: 94px;
    background-image: url("./assets/map/Vector.svg");
    background-repeat: no-repeat;
    top: 20px;
    left: 572px;

}

.map-location-monk {
    position: relative;
    width: 60px;
    height: 85px;
}


.map-monk:hover {
    background-image: url("./assets/map/Vector-hover.svg");
    cursor: pointer;
}

.map-monk:hover .map-animal-info {
    visibility: initial;
}
/* monk///// */

/* panda!!!! */

.map-panda {
    position: relative;
    width: 67px;
    height: 94px;
    background-image: url("./assets/map/Vector.svg");
    background-repeat: no-repeat;
    bottom: 160px;
    left: 900px;

}

.map-location-panda {
    position: relative;
    width: 60px;
    height: 85px;
}


.map-panda:hover {
    background-image: url("./assets/map/Vector-hover.svg");
    cursor: pointer;
}

.map-panda:hover .map-animal-info {
    visibility: initial;
}

/* panda///// */



/* map CARD */
.map-animal-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    width: 436px;
    height: 150px;
    background: #FEFEFE;
    box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
    border-radius: 8px;
    left: -70px;
    bottom: 100px;
    visibility: hidden;
    z-index: 3;
    /* transition: all .2s ease; */

}

.dark .map-animal-info {
    background: #333333;
    box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
}

.map-info-img img{
    width: 65px;
    height: 65px;
}


.map-info-text {
    display: grid;
    gap: 8px;
}

.map-info-title {
    font-weight: 900;
    font-size: 18px;
    color: #333333;
}

.region {
    font-weight: 500;
    font-size: 14px;
}

.map-info_text {
    font-weight: normal;
    font-size: 14px;
    display: grid;
}
.map-info_text p{
    padding-bottom: 6px;
}
/* map CARD //// */


/* footer */


.footer-wrapper {
    margin: 0 auto;
    background-color: #333333;
}

.footer-container {
    margin: 0 auto;
    padding-left: 150px;
    padding-right: 150px;
    width: 1920px;
    height: 751px;
    background-color: #333333;

}


/* footer-logo */

.footer-logo-wrapper {
    position: relative;
    bottom: 40px;
    text-align: center;
    padding: 16px 0px 25px 0px;
    margin-right: 766px;
    width: 60px;
    height: 42px;
    transition:  0.2s ease-in-out;

}

.footer-logo-wrapper:hover {
    text-decoration: none;
    transform: scale(1.05);
}


.footer-logo-zoo {
    font-weight: 900;
    line-height: 42px;
    font-size: 36px;
    letter-spacing: 1px;
    color: #ffffff;


}

.footer-logo-online {
    font-weight: 900;
    line-height: 9px;
    font-size: 18px;
    letter-spacing: 2px; 
    color: #ffffff;

}

/* footer-logo////// */


/* footer nav  */

.footer-nav-wrapper {
    padding-top: 100px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */

}

.footer-nav-wrapper li a {
    color: #ffffff;
}

.footer-nav {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

/* button footer */
.footer-btn-wrapper {
    margin-left: 112px;

}

.footer-btn button {
    font-size: 16px;
    width: 280px;
}
/* button-footer//// */


/* footer-form */

.footer-form-wrapper {
    padding-top: 57px;
    display: flex;
}

.footer-contact-title {
    margin-bottom: 33px;
    font-weight: 900;
    font-size: 20px;
    color: #FEFEFE;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-name {
    font-family: inherit;
    /* padding-top: 33px; */
    width: 383px;
    height: 30px;
    border: none;
    border-bottom: 1px solid #bdbdbd;
    background: transparent;
    outline: none;
    color: #FEFEFE;
    font-size: 14px;

}


.contact-name::placeholder {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #E0E0E0;
}

.contact-email {
    font-family: inherit;
    width: 383px;
    height: 30px;
    border: none;
    border-bottom: 1px solid #bdbdbd;
    background: transparent;
    outline: none;
    color: #FEFEFE;
    font-size: 14px;
}

.contact-email::placeholder {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #E0E0E0;
}


.contact-field {
    padding: 8px;
    width: 386px;
    height: 115px;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 3px;
}

.contact-legend {
    padding-left: 3px;
    padding-right: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: #BDBDBD;
}

.contact-area {
    max-width: 370px;
    font-family: 'Roboto', sans-serif;
    background: transparent;
    border: none;
    color: #FEFEFE;
    outline: none;
    resize: none;
}

.contact-form label {

    color: #BDBDBD;

}

/* check-box */

/* .contact-check {
    margin-right: 6px;
    color: #333333;

} */

.checkbox {
    display: block;
    cursor: pointer;
}

.checkbox + .checkbox {
    margin-top: 15px;

}

.checkbox__real {
    width: 1px;
    height: 1px; 
    position: absolute;
    opacity: 0;
    appearance: none;
}

.checkbox__fake {
    position: relative;
    display: inline-block;
    margin-right: 5px;
    width: 13px;
    height: 13px;
    background-color: transparent;
    border: 1px solid #777777;
    border-radius: 2px;
    vertical-align: bottom;
}

.checkbox__real:checked + .checkbox__fake {
    background-color: #BDBDBD;
}

.checkbox__real:checked + .checkbox__fake::before {
    position: absolute;
    top: 50%;
    left: 50%;
    content: ""; 
    width: 13px;
    height: 13px;
    background-image: url('./assets/icons/check.svg');
    background-size: initial;
    background-position: center;
    transform: translate(-50%,-50%);
}

.checkbox__title {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: #BDBDBD;
}

.checkbox__real:checked ~ .checkbox__title {
    font-weight: bold;
}

/* check-box */

.contact-submit {
    position: relative;
    left: 261px;
    display: flex;
    padding: 0;
    width: 108px;
    background: transparent;
    border: none;
    color: #FEFEFE;
    text-transform: uppercase;
    outline: none;
    background: url("./assets/icons/send-arrow.svg") no-repeat center right;
    transition: .3s;
}

.contact-submit:hover {
    cursor: pointer;
    transform: scale(1.05);
}

/* footer-form///// */

/* footer-adress */

.footer-adress-wrapper {
    padding-left: 440px;
}

.footer-adress-title {
    padding-bottom: 35px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FEFEFE;
}

address {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #FEFEFE;
}


address a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #FEFEFE;
    
}

address p{
    padding-bottom: 5px;
}

.address-container {
    margin-bottom: 15px;
}

.footer-icons {
    width: 125px;
    height: 20px;
    display: flex;
    gap: 15px;
    align-items: center;
}

/* nora */

.footer-noora-wrapper {
    
}

.nora-line {
    margin-top: 60px;
    background-image: url('./assets/icons/nora-line.svg');
    width: 1620px;
    height: 2px;
}

.nora-text {
    margin-top: 28px;
    font-weight: normal;
    font-size: 12px;
    color: #BDBDBD;
}

.nora-text p {
    padding-bottom: 5px;
    cursor: default;

}
.nora-text p span{
    cursor: default;
}
